.logo{
    color: black;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 8px red;
    text-align: center;
    border: 10px solid blue;
    width: 25%;
}
#chude{
    font-size: 30px;
}
footer{
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 1px 0px 0px 0px;
}
#camon{
    font-size: 35px;
    color: rgb(236, 29, 150);
}
#btton{
    background-color: lightskyblue;
    border: 1px solid black ;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    width: 20px;
    font-size: 30px;
}
pre{
    margin: 20px 0px 10px 300px;
    font-size: 30px;
}
section{
    font-size: 30px;
}
